@font-face {
    font-family:'SF-Pro-Display' ;
    src: url(../fonts/SF-Pro-Display-Bold.ttf);
}

@font-face {
    font-family:'SF-Pro-Display-Regular' ;
    src: url(../fonts/SF-Pro-Text-Regular.otf);
}

*{
    box-sizing: border-box;
    margin:0;
    font-family:'SF-Pro-Display' ;
    /* border:1px solid green; */
}

body.swal2-height-auto {
    /* height: auto !important; */
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  place-items: center;

}


/* <-------------------- GRID -------------------------->  */

.contenedor{

    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height:100%;  
    background: #dadadb;
    

}


aside {

    grid-area: 1 / 1 / 10 / 3;
    background: rgb(128,19,30);
    background: linear-gradient(0deg, rgba(128,19,30,1) 9%, rgba(214,15,42,1) 69%, rgba(255,94,57,1) 100%);
    box-shadow:5px 0px 30px 0.6px #f26262;
    z-index:3;
    
    height:auto;
}

header{

    grid-area: 1 / 3 / 2 / 14;
    /* background-color: #38383f; */
    background-color:#e8e8e9;
    box-shadow:10px 8px 28px 0 rgb(187, 188, 171);
    z-index:2;
    height:80px;
}

main{

    grid-area: 2 / 3 / 10 / 14;
    /* background-color: #303037 ; */
    background: rgb(127,127,140);
    background: linear-gradient(0deg, rgba(127,127,140,1) 0%, rgba(196,196,199,1) 11%, rgba(218,218,219,1) 21%);
    height:100%;
   
}

/* <-------------------- ASIDE - LOGO -------------------------->  */

.aside-logo{
    width:50%;
    height:auto;
    background-color:transparent;
    margin:10px auto;
    border-radius:10;
    overflow:hidden;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
}

/* <-------------------- ASIDE - TITLE -------------------------->  */

.line{
    border:1px solid rgba(255, 255, 255, 0.136);
    width:60%;
    height:1px;
    margin:auto;  
}

.dashboard{
    color:white;
    text-shadow: -0.3px -0.3px 1em #d4a3a3;
    font-family:'SF-Pro-Display' ;
    font-size:20px;
    width:100%;
    display:flex;
}

.dashboard a{
    margin:10px auto 10px auto;
}

.dashboard a i{
    color:#ffffff6e;
    display:none;
}

/* <-------------------- ASIDE - INTERFACE -------------------------->  */

.aside-interface{
    color:rgb(209, 200, 200);
    font-family:'SF-Pro-Display' ;
    width:80%;
    display:flex;
    margin:10px auto;
    font-size:15px;
}

ul{
    padding-left:0;
    list-style:none;
}

.aside-componentes{
  
    width:80%;
    display:flex;
    margin:auto;
}

.aside-componentes > *{
    color:white;
    list-style:none;
    font-size:17px;
}

.aside-componentes ul li{
    display:inline;
    width:80%;
}


ul li a{
    color:white;
    font-family:'SF-Pro-Display-Regular' ;
    font-weight:300;
    font-size:15px;
    text-decoration:none;
    text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.43);
}

ul li a:hover{
   font-weight:bold;
}

ul li a i{
    margin-right:10px;
    color:#ffffff6e;
    
}


.dashboard a{
    color:white;
    text-decoration:none;
    
}

.line-two{
    border:1px solid rgba(255, 255, 255, 0.096);
    width:60%;
    height:1px;
    margin:10px auto auto auto;
}



/* <-------------------- HEADER -------------------------->  */

header{
    display:grid;
    grid-template-columns: repeat(15, 1fr);
}

.header-login img{
    border-radius:10px;
    background:transparent;
    width:60%;
    height:60%;
    margin:auto;
    display:flex;
}


.header-title{
    
    width:100%;
    height:auto;
    grid-area: 1 / 13 / 2 / 16;
    margin: auto;
    color:#a1a1a1;
    text-align: right;
}

.header-line{
    grid-area: 1 / 9 / 2 / 13;
    width:1%;
    height:60%;
    border:1px solid #b3b3b3;
    margin:auto 0px auto auto;
    display:flex;
}

/* ------------- (HEADER) BOTON SUBMENU  ----------------- */

  .botondd {
    margin: 0;
    display: grid;
    place-items: center;
    height:100%;
  }
  
  .split-button {
    position: relative;
    width:100%;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 8px;
  }
  
  button {
    display: flex;
    align-items:center;
    height: 100%;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 16px;
    font-family:'SF-Pro-Display-Regular' ;
    height:50px;
  }
  
  .split-button > button:nth-child(1) {
    padding: 0 24px;
  }
  
  .split-button > button:nth-child(2) {
    position: absolute;
    right:10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
  }
  
  .menudd {

    overflow: hidden;
    position: absolute;
    left: 0;
    top: 140%;
    z-index: 1;
    width: 95%;
    translate: -30px 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.45);
    transition: 0.4s;
  }
  
  .menudd.open {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
  }
  
  .menudd > button {
    gap: 10px;
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 56px;
    padding: 0px 18px;

  }
  
  .menudd > button:hover {
    background: rgba(0, 0, 0, 0.26);
  }
  
  .chevron {
    margin: auto;
  }

  #chevron{
    width:100%;
    height:100%;
  }

  @media (min-height: 700px){
    .menudd{
        top:170%;
    }
  }
  

/* <-------------------- MAIN -------------------------->  */

.main-title{
    width:90%;
    height:50px;
    
    margin:10px;
    font-size:40px;
    color:white;
    font-family:'SF-Pro-Display-Regular' ;
  
}


/* <-------------------- FORM -------------------------->  */

.form-boton-delete{
    background-color:white;
    text-decoration:none;
    color:black;
}

.form-propuestas > *{
    color:black;
}

/* <-------------------- TABLE (MAIN)-------------------------->  */

.table-propuestas{
    border-collapse:collapse;
    border:1px solid white;
    table-layout:fixed;
    font-size:14px;  
 
}


th{
    padding: 10px 10px;
    font-weight: 700;
    text-transform: uppercase;
    border:1px solid white;
}

td{
    padding:15px;
    border-bottom: solid 1px;
    font-family:'SF-Pro-Display-Regular' ;
    font-size:16px;

}


.table-contenido{
    margin-bottom:50px;
    width:90%;
    display:flex;
    margin:auto;
 
    /* background-color:blue; */
}

table{
    width:100%;
    color:#808080;
    
}

.table-icons-enlace a{
    text-decoration:none;
    color:#808080;
    margin-right:10px;
}

.table-icons-enlace a:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.table-template, th, td{
    border-left:8px solid #d8d8d9;
    border-right:8px solid #d8d8d9;
    border-top:none;
    border-bottom:none;
    border-collapse:collapse;
    text-align:center; 
  
}


.table-template-sustentaciones{
    border-left:8px solid #d8d8d9;
    border-right:8px solid #d8d8d9;
    border-top:none;
    border-bottom:none;
    border-collapse:collapse;
    text-align:center; 
}

.table-template-sustentaciones{
    margin-top:45px;
}

.title-table-first{
    border-radius:10px;
}

.tam-icon{
    width:40px;
    height:auto;
}

.boton-crear-alumno{
    width:89%;
    display:flex;
    margin: auto;
    padding:20px 0 20px 0;
}

.btn-create-alumno{
    color:red;
    padding:10px 20px;

    background: radial-gradient(circle at 100% 100%, #dadadb 0, #dadadb 17px, transparent 17px) 0% 0%/20px 20px no-repeat,
    radial-gradient(circle at 0 100%, #dadadb 0, #dadadb 17px, transparent 17px) 100% 0%/20px 20px no-repeat,
    radial-gradient(circle at 100% 0, #dadadb 0, #dadadb 17px, transparent 17px) 0% 100%/20px 20px no-repeat,
    radial-gradient(circle at 0 0, #dadadb 0, #dadadb 17px, transparent 17px) 100% 100%/20px 20px no-repeat,
    linear-gradient(#dadadb, #dadadb) 50% 50%/calc(100% - 6px) calc(100% - 40px) no-repeat,
    linear-gradient(#dadadb, #dadadb) 50% 50%/calc(100% - 40px) calc(100% - 6px) no-repeat,
    linear-gradient(90deg, rgba(255,46,46,1) 0%, rgba(218,42,65,1) 100%);
    border-radius: 20px;
    box-sizing: border-box;
    
    font-family:'SF-Pro-Display' ;
}


.btn-create-alumno:hover{
    background: rgb(218,42,65);
    background: linear-gradient(90deg, rgba(218,42,65,1) 0%, rgba(255,46,46,1) 100%);
    border:none;
    cursor:pointer;
    color:white;
    -webkit-box-shadow: 0px 0px 30px -9px rgba(239,44,54,1);
-moz-box-shadow: 0px 0px 30px -9px rgba(239,44,54,1);
box-shadow: 0px 0px 30px -9px rgba(239,44,54,1);
}

.header-table{
    background: rgb(218,42,65);
background: linear-gradient(90deg, rgba(218,42,65,1) 0%, rgba(255,46,46,1) 100%);
    color:white;
    font-size:20px;
    border-bottom:8px solid #d8d8d9;
    border-radius:10px;
    font-family:'SF-Pro-Display-Regular' ;
    
}

.header-table-row{

    font-family:'SF-Pro-Display-Regular' ;
}


tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
    
}
tr:nth-child(even){

    background-color:rgb(242, 244, 243)
}

/* -------------------Ventana Emergente  --------------------- */

#modal{
    padding:0;
    height:400px;
    width:350px;
    margin:auto;
    border:none;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.082);
    border-radius:20px;
    background-color:#ffffff;
    /* border:2px solid rgb(55, 54, 54); */
}

dialog h2{
    font-family:'SF-Pro-Display-Regular' ;
    height:50px;
    width:80%;
    font-size:20px;
    color:white;
    position: relative;
    display:inline-block;
    position: absolute;
    text-align:center;

}

.contenido-modal{
    
    width:100%;
    height:100%;
    margin:0;
    box-sizing:border-box;
}

.title-modal{

    width:100%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    height:70px;
}

.formulario{
    padding:0;
    text-align: center;
    height:400px;
}

.formulario input {
    
    display:block;
    margin: auto;
    margin-bottom:20px;

}

.enjoy-css {
    width:80%;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0 solid rgba(218,218,219,0.73);
    border-bottom: 2px solid #c2c2c4;
    font: normal 20px/normal "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(194,194,196,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,1);
    -webkit-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: border-color 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  
  .enjoy-css:hover {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 11px 10px 10px;
    border: 0 solid;
    border-bottom: 2px solid rgba(194,194,196,1);
    background: none;
    -webkit-box-shadow: 0 5px 13px -13px rgba(194,194,196,1) , 0 -18px 34px -32px rgba(194,194,196,0.41) inset;
    box-shadow: 0 5px 13px -13px rgba(194,194,196,1) , 0 -18px 34px -32px rgba(194,194,196,0.41) inset;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
  }
  
  .enjoy-css:focus {
    display: inline-block;
    cursor: default;
    border: 0 solid rgba(68,68,68,0);
    border-bottom: 2px solid #D92932;
    /* font: normal 20px/0 "Trebuchet MS", Helvetica, sans-serif; */
    color: rgba(137,96,98,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-shadow: 0 5px 13px -13px #D92932 , 0 -18px 34px -32px rgba(217,41,50,0.2) inset;
    box-shadow: 0 5px 13px -13px #D92932 , 0 -18px 34px -32px rgba(217,41,50,0.2) inset;
  }
  

.formulario input[type="submit"] {
    width: 100%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 0 0 10px 10px;
    position:absolute;
    bottom:0;
    font-size: .8rem;
    cursor: pointer;
    color:white;
    background: rgb(218,42,65);
    background: linear-gradient(90deg, rgba(218,42,65,1) 0%, rgba(255,46,46,1) 100%);
    padding:20px 20px;
    border:none;
    font-family:'SF-Pro-Display-Regular' ;
    font-size:28px;
    
}

.formulario input[type="submit"]:hover{
    text-shadow: -0.3px -0.3px 1em #f0e1e1;
    background: rgb(239,44,54);
background: linear-gradient(90deg, rgba(239,44,54,1) 0%, rgba(218,42,65,1) 100%);
   
}

.btn-submit{
    display:block;
    margin: auto;
    margin-bottom:20px;
    width: 100%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 0 0 10px 10px;
    position:absolute;
    bottom:0;
    font-size: .8rem;
    cursor: pointer;
    color:white;
    background: rgb(218,42,65);
    background: linear-gradient(90deg, rgba(218,42,65,1) 0%, rgba(255,46,46,1) 100%);
    padding:20px 20px;
    border:none;
    font-family:'SF-Pro-Display-Regular' ;
    font-size:28px;
}

.btn-submit:hover{
    text-shadow: -0.3px -0.3px 1em #f0e1e1;
    background: rgb(239,44,54);
background: linear-gradient(90deg, rgba(239,44,54,1) 0%, rgba(218,42,65,1) 100%);
}

#btn-cerrar-modal{
    
    background-size: cover;
    margin-top:7px;
    margin-right:15px;
    
}

.fa-xmark{
    font-size:20px;
    display:inline;
    float:right;
    color:gray;

}

.fa-xmark:hover{
    color:black;
    text-shadow: 0 0 1em #818181;
}

/* ------------------- Ventana Emergente Editar  --------------------- */


.modal-estilo{
    padding:0;
    height:400px;
    width:350px;
    margin:auto;
    border:none;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.082);
    border-radius:20px;
    background-color:#ffffff;
    /* border:2px solid rgb(55, 54, 54); */
}



dialog:modal{
    position: relative;
    overflow: visible;
    background-clip: content-box;
    padding:0;
    height:400px;
    width:350px;
    margin:auto;
    border:none;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.082);
    border-radius:20px; 
    background-color:#ffffff;


 
}

dialog::backdrop{

    backdrop-filter: blur(2px);
}



.numberCircle{
   position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:white;

}

.numberCircleDos{
position: absolute;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   width: 100px;
   height: 100px;
   border-radius:50%;
   background-color:white;
  
 
 }

.numberCircle img{
    width:50%;
    height:50%;
    opacity:0.5;
    display:flex;
    margin:20px auto;

}

.numberCircleDos img{
    width:55%;
    height:55%;
    opacity:0.5;
    display:flex;
    margin:20px auto;

}



/* ------------------- Tabla propuestas / proyectos (MAIN)  --------------------- */

.ver-estudiante{

    cursor:pointer;
    text-decoration:none;
    color:#808080;
}

.ver-estudiante:hover{
   
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-propuesta{
    cursor:pointer;
    text-decoration:none;
    color:#808080;
}

.ver-propuesta:hover{
   
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-director .fa-chalkboard-user:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.Asignar-director, .form-boton-delete{
    cursor:pointer;
    text-decoration:none;
    color:#808080;
    margin:0 5px;
    background:transparent;
}

.form-boton-delete, .Designar-estudiante{
    color:rgb(206, 78, 78);
}

.Asignar-director, .Asignar-estudiante{
    color: #6293ed;
}

.Asignar-director:hover, .form-boton-delete:hover{
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
    
}


.Asignar-estudiante:hover, .Designar-estudiante:hover{
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.Asignar-estudiante, .Designar-estudiante{
    background:transparent;
    margin:0 5px;
    cursor:pointer;
}

.form-boton-edit, .form-boton-up{
    color: #6293ed;
    margin: 0 5px;
}

.form-boton-edit:hover, .form-boton-up:hover{
    color:#4f4c4c;
    margin: 0 5px;
}

.form-boton-delete-act{
    text-decoration:none;
    color:#808080;
    cursor: pointer;
    margin: 0 5px;
}

.form-boton-delete-act:hover{
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.form-boton-delete-ac{
    text-decoration:none;
    color:#808080;
    cursor: pointer;
    margin: 0 5px;
}

.form-boton-delete-ac:hover{
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-fecha_pre:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-recinto:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.asignar-recinto:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-jurado:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

.ver-veredicto:hover{
    cursor:pointer;
    color:#4f4c4c;
    text-shadow: 0 0 1em #b5b5b5;
}

/* SELECTOR  */

.select {
    position: relative;

    display:flex;
    margin:auto;
    height:30px;
    width: 90%;
} 

.select select {
    font-family:'SF-Pro-Display-Regular' ;
        display: inline-block;
        width: 90%;
        height:30px;
        cursor: pointer;
        padding: 10px 11px;
        outline: 0;
        border: 1px hidden #ffa2a2;
        border-radius: 15px;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #671515;
            background: #e8e7e7;
        }
        .select select:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 10px;
    height: 10px;
    border: solid #b42525;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  .date-fecha{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width:90%;
    height:40px;
  }

  .input-date{
    width:100%;
    height:100px;
    border: 2px solid lightgrey;
    resize:none;
    border-radius:5px;
  }

  .text-veredicto{
    width:76%;
    margin:auto;
    
  }



  .wrapper{
    margin:auto;
    display:flex;
    height: 100px;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 20px 15px;
   
  }
  .wrapper .option{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 24px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }
  /* .wrapper .option .dot{
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
  } */
  /* .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #dadadb;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  } */
  
  input[type="radio"]{
    display: none;
  }
  
  #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: rgb(180,180,184);
    background: rgb(180,180,184);
  }
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 20px;
    color: #808080;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: #fff;
  }

  @import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');

.table-modal{

    width:100%;
    height:auto;
    border-collapse: collapse;
    background-color: #ddd;

}

.table-modal-crud{
    font-size:13px;
    border:1px solid #dadadb;
    color:#4f4c4c;
    text-align: center;
    padding:0px 5px;
   
}
 

.hola{
    margin:auto;
}


.en-blanco{
    height:100px;
    width:100%;
    display:inline-block;
}

#razon{
font-size:14px;
width:20%;
}
